:root {
	--site-width: 1280px;
	--font-one: 'Merriweather', serif;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: calc(22/14);
	color: #2f2f2f;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-one);
	font-weight: normal;
}
h2 {
	font-size: 26px;
}
dl {
	margin-top: 0;
}
dl dd {
	margin-bottom: 20px;
}
img {
	max-width: 100%;
}
blockquote p:first-child {
	font-family: var(--font-one);
	font-size: 22px;
	font-weight: bold;
}
.wrapper {
	max-width: var(--site-width);
	margin: auto;
	position: relative;
	overflow: hidden;
}
.site-logo {
	position: absolute;
	z-index: 10;
	left: 16px;
	top: 14px;
}
.main-navigation {
	text-align: right;
}
.main-navigation a {
		color: #2f2f2f;
	}
.main-navigation button {
		position: absolute;
		z-index: 20;
		top: 20px;
		right: 20px;
		background: url(../images/menu.svg) no-repeat;
		height: 22px;
		width: 30px;
		text-indent: -9999px;
		border: 0;
		cursor: pointer;
	}
.main-navigation .nav-container {
		position: absolute;
		right: 0;
		width: 370px;
		z-index: 10;
		height: 100%;
		background: white;
		text-align: left;
		transition: -webkit-transform 150ms ease-in;
		transition: transform 150ms ease-in;
		transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
		-webkit-transform: translateX(375px);
		        transform: translateX(375px);
		padding: 110px 70px 0;
		font-family: var(--font-one);
	}
.main-navigation .nav-container ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
.main-navigation .nav-container ul:first-child {
				font-size: 38px;
				text-align: center;
			}
.main-navigation .nav-container ul:first-child li {
					margin-bottom: 20px;
				}
.main-navigation .nav-container ul:last-child {
				margin-top: 60px;
				display: -webkit-box;
				display: flex;
				-webkit-box-pack: justify;
				        justify-content: space-between;
			}
.main-navigation .nav-container .selected {
			color: #929292;
			text-decoration: line-through;
			-webkit-text-decoration-color: #2f2f2f;
			        text-decoration-color: #2f2f2f;
		}
.main-navigation.visible button {
			background-image: url(../images/close.svg);
			background-position-x: center;
		}
.main-navigation.visible .nav-container {
			-webkit-transform: translateX(0);
			        transform: translateX(0);
		}



.centered-block {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
}



.centered-block:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		background: #fff;
	}



.centered-block .over-block {
		max-width: 600px;
		margin: auto;
		right: 0;
		left: 0;
		text-align: center;
	}



.centered-block .over-block h1 {
			font-size: 30px;
		}



.centered-block .over-block ul {
			margin-top: 60px;
			padding: 0;
			list-style: none;
			display: -webkit-box;
			display: flex;
			-webkit-box-pack: space-evenly;
			        justify-content: space-evenly;
			text-transform: uppercase;
			font-family: var(--font-one);
		}


.column-fill p {
		margin-top: 0;
	}
.clear:after {
	content: '';
	display: table;
	clear: both;
}
.standfirst {
	font-weight: bold;
}
.align-right {
	text-align: right;
}
.section-main {
	margin-bottom: 40px;
	padding: 0 20px;
}
.maxwidth {
	max-width: 470px;
}
.blockquote--source {
	text-align: right;
	font-size: 14px;
}
.blockquote--source cite {
		font-style: normal;
	}

.project-details {
	position: relative;
}

.project-details:before {
		content: '';
		width: 100%;
		height: 370px;
		position: absolute;
		background-color: #f3f3f3;
		z-index: -1;
		bottom: 0;
		left: 0;
	}

.project-details img {
		mix-blend-mode: darken
	}

.project-details blockquote {
		margin-top: 190px;
	}

.case-study {
	padding: 0;
}

.our-approach .column-two {
	overflow: hidden;
}

.our-approach .column-two img {
		margin-top: -130px;
	}
.section-child div:not(:last-child) {
		margin-bottom: 60px;
	}
.section-child div img {
		text-align: center;
	}


.projects-container {
	-webkit-box-align: center;
	        align-items: center;
}


.projects-container > div {
		height: 212px;
		display: -webkit-box;
		display: flex;
		-webkit-box-flex: 1;
		        flex: 1;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}


.projects-container > div a {
			color: #fff;
			text-decoration: none;
		}


.projects-container > div span {
			display: block;
			font-family: var(--font-one)
		}


.projects-container > .previous-projects {
		background: url(../images/previous-bg.jpg) no-repeat;
		background-size: cover;
	}


.projects-container > .all-projects {
		background-color: #dc555e;
	}


.projects-container > .next-projects {
		background: url(../images/next-bg.jpg) no-repeat;
		background-size: cover;
	}

footer {
	background-color: #2f2f2f;
	color: #fff;
	padding: 20px;
}

footer ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

footer ul li:not(:last-child) {
			margin-bottom: 10px;
		}

footer ul li > * {
			display: inline-block;
			vertical-align: middle;
		}

footer ul li > span {
			padding-right: 6px;
		}

footer a {
		color: #fff;
	}

@media screen and (min-width: 768px) {
	.centered-block {
		-webkit-box-pack: center;
		        justify-content: center;
	}
		.centered-block:before {
			height: 100%;
		}
		.centered-block .over-block {
			top: auto;
			position: absolute;
			top: 190px;
			color: #fff;
		}
			.centered-block .over-block h1 {
				font-size: 60px;
			}
	.column {
		float: left;
	}
	.column-small-right .column-one {
		width: 70%;
		padding-right: 20px;
	}
	.column-small-right .column-two {
		width: 30%;
	}
	.column-small-left .column-one {
		width: 30%;
		padding-right: 20px;
	}
	.column-small-left .column-two {
		width: 70%;
	}
	.column-fill {
		-webkit-column-count: 2;
		        column-count: 2;
		-webkit-column-gap: 30px;
		        column-gap: 30px;
	}

	.project-details blockquote {
		margin-left: 140px;
		margin-top: 150px;
	}

	.projects-container {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		        justify-content: space-between;
		text-align: center;
	}

	footer {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		        justify-content: space-between;
	}
}

@media screen and (min-width: 1280px) {
	.column-small-right .column-one {
		width: 780px;
	}
	.column-small-right .column-two {
		width: 460px;
	}
	.column-small-left .column-one {
		width: 460px;
	}
	.column-small-left .column-two {
		width: 780px;
	}
	.column-fill {
		-webkit-column-gap: 100px;
		        column-gap: 100px;
	}
	.project-details blockquote {
		margin-top: 190px;
		margin-left: auto;
	}
}