:root {
	--site-width: 1280px;
	--font-one: 'Merriweather', serif;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: calc(22/14);
	color: #2f2f2f;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-one);
	font-weight: normal;
}
h2 {
	font-size: 26px;
}
dl {
	margin-top: 0;
}
dl dd {
	margin-bottom: 20px;
}
img {
	max-width: 100%;
}
blockquote p:first-child {
	font-family: var(--font-one);
	font-size: 22px;
	font-weight: bold;
}
.wrapper {
	max-width: var(--site-width);
	margin: auto;
	position: relative;
	overflow: hidden;
}
.site-logo {
	position: absolute;
	z-index: 10;
	left: 16px;
	top: 14px;
}
.main-navigation {
	text-align: right;
	a {
		color: #2f2f2f;
	}
	button {
		position: absolute;
		z-index: 20;
		top: 20px;
		right: 20px;
		background: url(../images/menu.svg) no-repeat;
		height: 22px;
		width: 30px;
		text-indent: -9999px;
		border: 0;
		cursor: pointer;
	}
	.nav-container {
		position: absolute;
		right: 0;
		width: 370px;
		z-index: 10;
		height: 100%;
		background: white;
		text-align: left;
		transition: transform 150ms ease-in;
		transform: translateX(375px);
		padding: 110px 70px 0;
		font-family: var(--font-one);
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			&:first-child {
				font-size: 38px;
				text-align: center;
				li {
					margin-bottom: 20px;
				}
			}
			&:last-child {
				margin-top: 60px;
				display: flex;
				justify-content: space-between;
			}
		}
		.selected {
			color: #929292;
			text-decoration: line-through;
			text-decoration-color: #2f2f2f;
		}
	}
	&.visible {
		button {
			background-image: url(../images/close.svg);
			background-position-x: center;
		}
		.nav-container {
			transform: translateX(0);
		}
	}
}



.centered-block {
	position: relative;
	display: flex;
	flex-direction: column;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 70px;
		background: #fff;
	}
	.over-block {
		max-width: 600px;
		margin: auto;
		right: 0;
		left: 0;
		text-align: center;
		h1 {
			font-size: 30px;
		}
		ul {
			margin-top: 60px;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: space-evenly;
			text-transform: uppercase;
			font-family: var(--font-one);
		}
	}
}


.column-fill {
	p {
		margin-top: 0;
	}
}
.clear:after {
	content: '';
	display: table;
	clear: both;
}
.standfirst {
	font-weight: bold;
}
.align-right {
	text-align: right;
}
.section-main {
	margin-bottom: 40px;
	padding: 0 20px;
}
.maxwidth {
	max-width: 470px;
}
.blockquote--source {
	text-align: right;
	font-size: 14px;
	cite {
		font-style: normal;
	}
}

.project-details {
	position: relative;
	&:before {
		content: '';
		width: 100%;
		height: 370px;
		position: absolute;
		background-color: #f3f3f3;
		z-index: -1;
		bottom: 0;
		left: 0;
	}
	img {
		mix-blend-mode: darken
	}
	blockquote {
		margin-top: 190px;
	}
}

.case-study {
	padding: 0;
}

.our-approach .column-two {
	overflow: hidden;
	img {
		margin-top: -130px;
	}
}
.section-child {
	div:not(:last-child) {
		margin-bottom: 60px;
	}
	div img {
		text-align: center;
	}
}


.projects-container {
	align-items: center;
	> div {
		height: 212px;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		a {
			color: #fff;
			text-decoration: none;
		}
		span {
			display: block;
			font-family: var(--font-one)
		}
	}
	> .previous-projects {
		background: url(../images/previous-bg.jpg) no-repeat;
		background-size: cover;
	}
	> .all-projects {
		background-color: #dc555e;
	}
	> .next-projects {
		background: url(../images/next-bg.jpg) no-repeat;
		background-size: cover;
	}
}

footer {
	background-color: #2f2f2f;
	color: #fff;
	padding: 20px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li:not(:last-child) {
			margin-bottom: 10px;
		}
		li > * {
			display: inline-block;
			vertical-align: middle;
		}
		li > span {
			padding-right: 6px;
		}
	}
	a {
		color: #fff;
	}
}

@media screen and (min-width: 768px) {
	.centered-block {
		justify-content: center;
		&:before {
			height: 100%;
		}
		.over-block {
			top: auto;
			position: absolute;
			top: 190px;
			color: #fff;
			h1 {
				font-size: 60px;
			}
		}
	}
	.column {
		float: left;
	}
	.column-small-right .column-one {
		width: 70%;
		padding-right: 20px;
	}
	.column-small-right .column-two {
		width: 30%;
	}
	.column-small-left .column-one {
		width: 30%;
		padding-right: 20px;
	}
	.column-small-left .column-two {
		width: 70%;
	}
	.column-fill {
		column-count: 2;
		column-gap: 30px;
	}

	.project-details blockquote {
		margin-left: 140px;
		margin-top: 150px;
	}

	.projects-container {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	footer {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1280px) {
	.column-small-right .column-one {
		width: 780px;
	}
	.column-small-right .column-two {
		width: 460px;
	}
	.column-small-left .column-one {
		width: 460px;
	}
	.column-small-left .column-two {
		width: 780px;
	}
	.column-fill {
		column-gap: 100px;
	}
	.project-details blockquote {
		margin-top: 190px;
		margin-left: auto;
	}
}